<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>common_tools_lib.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Test123</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>common_tools_lib</string>
	<key>CFBundleShortVersionString</key>
	<string>8</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>seceng.fim.uni-passau.de</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>com.apple.rjpeg</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
				<string>jfif</string>
				<string>jpe</string>
				<string>jif</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
				<string>tiff</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>seceng.fim.uni-passau.de</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Image files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<!-- raw -->
				<string>3fr</string>
				<string>arq</string>
				<string>arw</string>
				<string>bay</string>
				<string>bmq</string>
				<string>cine</string>
				<string>cr2</string>
				<string>cr3</string>
				<string>crw</string>
				<string>cs1</string>
				<string>dc2</string>
				<string>dcr</string>
				<string>dng</string>
				<string>erf</string>
				<string>fff</string>
				<string>hdr</string>
				<string>heic</string>
				<string>ia</string>
				<string>iiq</string>
				<string>k25</string>
				<string>kc2</string>
				<string>kdc</string>
				<string>mdc</string>
				<string>mef</string>
				<string>mos</string>
				<string>mrw</string>
				<string>nef</string>
				<string>orf</string>
				<string>pef</string>
				<string>pxn</string>
				<string>raw</string>
				<string>rdc</string>
				<string>sr2</string>
				<string>srf</string>
				<string>nrw</string>
				<string>qtk</string>
				<string>raf</string>
				<string>rw2</string>
				<string>rwl</string>
				<string>srw</string>
				<string>sti</string>
				<string>x3f</string>
				<!-- Movie file types -->
				<string>mp4</string>
				<string>mov</string>
				<string>avi</string>
				<string>mkv</string>
				<string>webm</string>
			</array>
		</dict>
		<dict>
			<!-- Project file -->
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>common_tools_list project file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeExtensions</key>
			<array>

			</array>
		</dict>
	</array>
</dict>
</plist>
